body {
  background-color: #f8f8f8;
}


/* @navbar */

nav ul li {
  display: inline-block;
}

nav ul {
  white-space: nowrap;
  overflow-x: auto;
  width: 600px;
}

nav {
  background-color: #f8f8f8;
  box-shadow: none;
  -webkit-box-shadow: none;
  display: inline-block;
  position: fixed;
  z-index: 1000;
}

.logo-dp6,
nav ul a {
  padding: 0;
}

.navbar-gradient {
  background-image: linear-gradient(to right, #6bba11, #275aee, #f38427);
  margin: 0;
}

.navbar-gradient .indeterminate {
  background-color: rgba(248, 248, 248, 0);
}

.navbar-gradient .indeterminate {
  background-color: rgba(248, 248, 248, 0.5);
}

.nav-wrapper a,
.nav-wrapper li {
  color: black;
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
  height: 40px;
  line-height: 40px;
}

#add-filter {
  width: 15px;
}

nav i,
nav [class^='mdi-'],
nav [class*='mdi-'],
nav i.material-icons {
  font-size: 20px;
}

.nav-buttons li:nth-child(1) {
  margin: 10px 0px 0px 10px;
  width: 50px;
  border-radius: 10px;
}

.nav-buttons li:not(#logo-dp6) {
  margin: 11px 0px 7px 5px;
  background-color: rgb(236, 236, 236);
  border-radius: 15px;
}

.nav-buttons li:nth-child(n + 2):not(.active-filter) {
  width: 40px;
}

#logo-dp6 {
  width: 40px;
}

.modal {
  width: 80%;
  max-height: 70%;
  top: calc(100vh - 75%) !important;
}

.modal.modal-fixed-footer .modal-content {
  padding: 20px;
  /* overflow-x: hidden;
  overflow-y: hidden; */
}

#inputDataLayerName {
  margin-top: 1rem;
}

.modal .row {
  margin-bottom: 0;
}

.modal.modal-fixed-footer {
  height: 65%;
}

#modal-validating.modal.modal-fixed-footer {
  height: 23%;
}

.input-field .prefix.active {
  color: #f57c00;
}

input:not([type]):focus:not([readonly]),
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='url']:not(.browser-default):focus:not([readonly]),
input[type='time']:not(.browser-default):focus:not([readonly]),
input[type='date']:not(.browser-default):focus:not([readonly]),
input[type='datetime']:not(.browser-default):focus:not([readonly]),
input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
input[type='tel']:not(.browser-default):focus:not([readonly]),
input[type='number']:not(.browser-default):focus:not([readonly]),
input[type='search']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: red;
  box-shadow: red;
  -webkit-box-shadow: red;
}


/* navbar@ */

.input-field:focus {
  background-color: rebeccapurple;
}


/* @tracks */

#panel {
  padding-top: 65px;
}

.collapsible-body {
  padding: 0;
}

.collapsible {
  margin: 10px 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  color: #626262;
  border: none;
}

.collapsible-header.qsWrapper {
  border-radius: 10px;
  padding: 5px;
  font-size: 13px;
  word-break: break-all;
}

.collapsible-header i {
  font-size: 15px;
  width: 20px;
}

i.hit-type {
  color: #858585;
  margin: auto 5px;
}

table.tracktable tr:nth-child(odd) {
  background-color: #f7f7f7a2;
  border: none;
}

table.tracktable tr:nth-child(even) {
  background-color: #eeeeee;
  border: none;
}

table tr#warning {
  background-color: #ffc575;
}

.collapsible-body td {
  padding-left: 15px;
}

.key {
  color: #555555;
  font-weight: bold;
}

.value {
  color: #7e7e7e;
  font-weight: 400;
}

.label {
  margin: 0 8% -2px;
  height: 5px;
  border-radius: 0 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent 10%, transparent 80%, rgba(0, 0, 0, 0.3));
  background-color: #1b9ed5;
}

.label.ok {
  background-image: linear-gradient(to right, #2dc413, #0d5003);
  height: 4px;
}

.label.warn {
  background-image: linear-gradient(to right, #fbab3d, #e9941d);
  height: 4px;
}

.label.error {
  background-image: linear-gradient(to right, #f74848, #940808);
  height: 4px;
}

i.delete {
  display: none;
  position: absolute;
  right: 10px;
  font-size: 20px;
  font-weight: bolder;
}

.file-field .file-path-wrapper {
  padding: 0;
}

nav {
  line-height: 44px;
  height: 58px;
}

.collapsible .qsWrapper:hover .delete {
  display: block;
}

i.delete:hover {
  color: rgb(139, 139, 139);
}

.collapsible-header i.web-icon {
  font-size: 20px;
}

#successful-title,
#warning-title,
#error-title {
  font-weight: bolder;
}

#count-table td {
  width: 10px !important;
  margin: 0;
}


/* .warning-icon-status {
  color: #e9941d;
}

.error-icon-status {
  color: #940808;
}

.success-icon-status {
  color: #0d5003;
} */

.add-filter i.material-icons.center-align:hover:nth-child(n + 2),
.add-filter i.material-icons.center-align.checked:nth-child(n + 2) {
  background-color: #cacaca;
  border-radius: 34px;
  line-height: 30px;
  height: 29px;
  display: inline-block;
}

nav ul .add-filter i:nth-child(n + 2) a:hover {
  background-color: rgba(0, 0, 0, 0);
}

.add-filter.active-filter i:first-child {
  margin-left: 5px !important;
  display: inline-block !important;
  width: 30px !important;
}

.material-icons.center-align.not-hide {
  display: inline-block;
  width: 30px;
}

.filtrado .track:not(.history-change) {
  display: none;
}

.pageview .track.pageview:not(.hidden),
.event .track.event:not(.hidden),
.social .track.social:not(.hidden),
.transaction .track.transaction:not(.hidden),
.item .track.item:not(.hidden),
.timing .track.timing:not(.hidden),
.appview .track.appview:not(.hidden),
.exception .track.exception:not(.hidden),
.erro .track.erro:not(.hidden),
.analytics4 .track.analytics4:not(.hidden),
.warn .track.warn,
.error .track.error,
.ok .track.ok {
  display: block !important;
}

.input-field .prefix {
  color: gray !important;
}

.nav-buttons li {
  height: 40px;
}

.nav-buttons #search-input {
  display: none;
}

.nav-buttons #search-input.checked {
  display: block;
  width: 150px;
  margin: 11px -5px 0px 5px !important;
  border-radius: 15px 0px 0px 15px !important;
  padding-left: 10px;
}

.nav-buttons #search-icon {
  margin: 11px 5px 0px 5px !important;
}

.nav-buttons #search-icon.checked {
  border-radius: 0px 15px 15px 0px !important;
}

.nav-buttons .add-filter i a {
  color: rgb(56, 56, 56);
}

.queryString td,
.queryString th {
  padding: 8px 15px;
}

#count-table {
  margin: 15px;
}